@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.img-princ {
    display: block;
    justify-content: center;
}

section{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

#biographie{
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-display: swap;
}
#biographie h3{
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    font-display: swap;
    text-transform: uppercase;
}

#discographie h3{
    margin-bottom: 1rem;
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    font-display: swap;
    text-transform: uppercase;
}
#discographie h5{
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-display: swap;
    text-transform: uppercase;
}

.discographie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album{
    text-transform: uppercase;
    margin-bottom: 2rem;
    box-shadow: 0 0 6px black;
    border-radius: 4px;
}
.album p{
    color: #ffffff;
    overflow-wrap: break-word;
    text-align: center;
    padding-top: 40%;
    text-shadow: 0 0 6px rgb(0, 0, 0);
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    font-display: swap;
}


/* poster */
.discographie .poster1{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/albums/10\ CC.jpg");
    background-size: cover;
}
.discographie .poster2{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/albums/Bloody\ Tourists.jpg");
    background-size: cover;
}
.discographie .poster3{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/albums/Deceptive\ Bends.jpg");
    background-size: cover;
}
.discographie .poster4{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/albums/How\ Dare\ You.jpg");
    background-size: cover;
}
.discographie .poster5{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/albums/Look\ Hear\ .jpg");
    background-size: cover;
}
.discographie .poster6{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/albums/Meanwhile.jpg");
    background-size: cover;
}
.discographie .poster7{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/albums/Mirror\ Mirror.jpg");
    background-size: cover;
}
.discographie .poster8{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/albums/Sheet\ Music.jpg");
    background-size: cover;
}
.discographie .poster9{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/albums/Ten\ Out\ of\ 10.jpg");
    background-size: cover;
}
.discographie .poster10{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/albums/The\ Original\ Soundtrack.jpg");
    background-size: cover;
}
.discographie .poster11{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/albums/Windows\ in\ the\ Jungle.jpg");
    background-size: cover;
}

/* live */
.discographie .live1{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/lives/10cc\ in\ Concert.jpg");
    background-size: cover;
}
.discographie .live2{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/lives/Live\ and\ Let\ Live.jpg");
    background-size: cover;
}
.discographie .live3{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/lives/Live\ in\ Concert\ Volume\ Two.jpg");
    background-size: cover;
}
.discographie .live4{
    width: 150px;
    height: 150px;
    background-image: url("/assets/img/lives/Live.jpg");
    background-size: cover;
}
#clip {
    background: linear-gradient(0.25turn,black,white,white,white,black);
    padding-bottom: 2.3rem;
}

#clip h3{
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    font-display: swap;
    text-transform: uppercase;
    color: aliceblue;
}

#clip video{
    display: block;
    margin: 0 auto;
}


#social{
    text-align:center;
    padding: 0;
}

#social .soulignage {
    text-decoration-line: underline;
}

#social .follow{
    line-height: 10px;
}
#social .contact{
    margin-top: 15px;
    line-height: 10px;
}
#social .legal {
    margin-top: 12px;
    line-height: 10px;
}


